= form_for @weight do |f|
  - if @weight.errors.any?
    #error_explanation
      %h2= "#{pluralize(@weight.errors.count, "error")} prohibited this weight from being saved:"
      %ul
        - @weight.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :weight
    = f.text_field :weight
  .field
    = f.label :bmi
    = f.text_field :bmi
  .actions
    = f.submit 'Save'
