%h1 Listing weights

%table
  %thead
    %tr
      %th User
      %th Weight
      %th Bmi
      %th
      %th
      %th

  %tbody
    - @weights.each do |weight|
      %tr
        %td= weight.user
        %td= weight.weight
        %td= weight.bmi
        %td= link_to 'Show', weight
        %td= link_to 'Edit', edit_weight_path(weight)
        %td= link_to 'Destroy', weight, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Weight', new_weight_path
