= stylesheet_link_tag "root", :media => "all"
= javascript_include_tag "root"
:javascript
  $(function(){
    $('#main_slide').infiniteslide({
      'height': 400,
      'speed': 20,
      'direction': 'left',       
      'pauseonhover': false
    });
  });
%body
  %nav.navbar.navbar-default{role: "navigation"}
    .container-fluid
      .navbar-header
        %a.navbar-brand{href: "/"}
          = image_tag "logo.png", :size => "50x32"
      .collapse.navbar-collapse{id: "nav_targets"}
        %ul.nav.navbar-nav
          %li
            %a
              Work
          %li
            %a
              About
          %li
            %a
              Contact
        %ul.nav.navbar-nav.navbar-right
          %li
            %a
              Sign in
  .slide{id: "main_slide"}
    %ul
      %li
        = image_tag "slide-shoes.jpg"
      %li
        = image_tag "slide-green.jpg"
      %li
        = image_tag "slide-town.jpg"
  .main-contents
    .container
      .col-md-4
        .media
          .media-left.media-middle
            %i.fa.fa-shield.fa-4x.fa-blue
          .media-body
            %h4.media-heading
              ダイエットは初めてですか?
            %p
              心配しなくても大丈夫.初心者だって痩せられます.私たちがサポートしますよ.あなたが楽しく続けられるように、精一杯尽力します.
      .col-md-4
        .media
          .media-left.media-middle
            %i.fa.fa-heartbeat.fa-4x.fa-blue
          .media-body
            %h4.media-heading
              毎日適切な運動を
            %p
              早く結果を出したいからと言って無理をするのは禁物です.無理をさせない、継続できる仕組みがあります.
      .col-md-4
        .media
          .media-left.media-middle
            %i.fa.fa-users.fa-4x.fa-blue
          .media-body
            %h4.media-heading
              一人では続きませんよね
            %p
              みんなで楽しさも苦労も共有しましょう.一人だと不安でも、仲間がいればきっと楽しく続けられます.

  .signup-contents
    .container
      %h2
        今すぐWLFを利用する
      %h3
        Weight less fat!
      %button.btn.btn-primary.btn-lg{type: "button", onclick: "location.href='/signup'"}
        Sign up Now

  .footer{id: "footer"}
    .footer-contents
      %ul.navbar-nav.list-inline
        %li.first
          %a{href: "#"}
            About
        %li
          %a{href: "#"}
            Sign in
        %li
          %a{href: "/signup"}
            Sign up
        %li
          %a{href: "#"}
            Contact
        %li
          %a{href: "#"}
            Help
    .clearfix
    %ul.sns-icon.list-inline
      %li
        %a{href: "https://github.com/nalgo-intern-2016/team-a/tree/master/wl://github.com/nalgo-intern-2016/team-a/tree/master/wlf"}
          %i.fa.fa-github.fa-2x
    .copy
      %span
        Copyright &#169; 2016.

