= form_for @exercise_log do |f|
  - if @exercise_log.errors.any?
    #error_explanation
      %h2= "#{pluralize(@exercise_log.errors.count, "error")} prohibited this exercise_log from being saved:"
      %ul
        - @exercise_log.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :start_time
    = f.datetime_select :start_time
  .field
    = f.label :end_time
    = f.datetime_select :end_time
  .field
    = f.label :step_cnt
    = f.number_field :step_cnt
  .field
    = f.label :calorie
    = f.text_field :calorie
  .field
    = f.label :schedule
    = f.text_field :schedule
  .actions
    = f.submit 'Save'
