%h1 Listing exercise_logs

%table
  %thead
    %tr
      %th User
      %th Start time
      %th End time
      %th Step cnt
      %th Calorie
      %th Schedule
      %th
      %th
      %th

  %tbody
    - @exercise_logs.each do |exercise_log|
      %tr
        %td= exercise_log.user
        %td= exercise_log.start_time
        %td= exercise_log.end_time
        %td= exercise_log.step_cnt
        %td= exercise_log.calorie
        %td= exercise_log.schedule
        %td= link_to 'Show', exercise_log
        %td= link_to 'Edit', edit_exercise_log_path(exercise_log)
        %td= link_to 'Destroy', exercise_log, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Exercise log', new_exercise_log_path
