%p#notice= notice

%p
  %b User:
  = @exercise_log.user
%p
  %b Start time:
  = @exercise_log.start_time
%p
  %b End time:
  = @exercise_log.end_time
%p
  %b Step cnt:
  = @exercise_log.step_cnt
%p
  %b Calorie:
  = @exercise_log.calorie


= link_to 'Edit', edit_exercise_log_path(@exercise_log)
\|
= link_to 'Back', exercise_logs_path
