= stylesheet_link_tag "root", :media => "all"
= javascript_include_tag "root"
%script{type: "text/javascript", src: "https://golden-layout.com/files/latest/js/goldenlayout.min.js"}
%link{type: "text/css", rel: "stylesheet", href: "https://golden-layout.com/files/latest/css/goldenlayout-base.css"}
%link{type: "text/css", rel: "stylesheet", href: "https://golden-layout.com/files/latest/css/goldenlayout-light-theme.css"}

%body
  %nav.navbar.navbar-default{role: "navigation"}
    .container-fluid
      .navbar-header
        %a.navbar-brand{href: "/"}
          = image_tag "logo.png", :size => "50x32"
      .collapse.navbar-collapse{id: "nav_targets"}
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{href: "/users/#{current_user.id}"}
              %i.fa.fa-user
              Profile
          %li
            %a{href: "#{logout_path}"}
              %i.fa.fa-sign-out
              Log out
  .container


:javascript
  var config = {
    content: [{
      type: 'row',
      content: [{
        type: 'component',
        componentName: 'Panel',
        componentState: { label: '<i class="fa fa-calendar-check-o"></i>スケジュール' }
      },
      {
        type: 'column',
        content: [{
          type: 'component',
          componentName: 'Panel',
          componentState: { label: '<i class="fa fa-pencil-square-o"></i>運動記録' }
        },
        {
          type: 'component',
          componentName: 'Panel',
          componentState: { label: '<i class="fa fa-line-chart"></i>運動データ'}
        }]
      }]
    }]
  };

  var myLayout = new GoldenLayout(config);
  myLayout.registerComponent('Panel', function( container, componentState) {
    container.getElement().html('<h3>' + componentState.label + '</h3>' );
  });

  myLayout.init();

