= stylesheet_link_tag "root", :media => "all"
= stylesheet_link_tag "users", :media => "all"

%body
  %nav.navbar.navbar-default{role: "navigation"}
    .container-fluid
      .navbar-header
        %a.navbar-brand{href: "/"}
          = image_tag "logo.png", :size => "50x32"
      .collapse.navbar-collapse{id: "nav_targets"}
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{href: "/users/#{current_user.id}"}
              %i.fa.fa-user
              Profile
          %li
            %a{href: "#{logout_path}"}
              %i.fa.fa-sign-out
              Log out
  .container
    .profile-contents-box
      .panel.panel-default
        .panel-heading
        %ul.list-group
          %li.list-group-item
            .info-item
              %a{href: "/users/#{@user.id}"}
                ユーザ登録情報
          %li.list-group-item
            .edit-item
              %a{href: "/users/#{@user.id}/edit"}
                登録情報の編集
    .profile-edit-box
      %h2.profile-edit-header
        プロフィール情報変更
      .form-horizontal{role: "form"}
        = form_for @user do |f|
          - if @user.errors.any?
            #error_explanation
              %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
              %ul
                - @user.errors.full_messages.each do |msg|
                  %li= msg

          .form-group
            .field
              = f.label :name, :class => "col-sm-3 control-label"
              .col-sm-7
                = f.text_field :name, :class => "form-control", :required => true, :placeholder => "山田太郎"
                .required-label
                  必須
          .form-group
            .field
              = f.label :email, :class => "col-sm-3 control-label"
              .col-sm-7
                = f.text_field :email, :class => "form-control", :type => "email", :required => true, :placeholder => "test@example.com"
                .required-label
                  必須
          .form-group
            .field
              = f.label :password, :class => "col-sm-3 control-label"
              .col-sm-7
                = f.text_field :password, :class => "form-control", :id => "password", :type => "password", :required => true
                .required-label
                  必須
          .form-group
            .field
              %label.col-sm-3.control-label
                confirm
              .col-sm-7
                %input.form-control{type: "password", id: "confirm", equired: true}
                .required-label
                  必須

          .form-group
            .field
              = f.label :height, :class => "col-sm-3 control-label"
              .col-sm-7
                = f.text_field :height, :class => "form-control"
          .form-group
            .field
              = f.label :age, :class => "col-sm-3 control-label"
              .col-sm-3
                = f.number_field :age, :class => "form-control age-form", :type => "number", :min => "0"
          .form-group
            .field
              = f.label :gender, :class => "col-sm-3 control-label"
              .col-sm-3
                = f.select :gender, [['男性', 0], ['女性', 1]], {}, :class => "form-control"
          .form-group
            .col-sm-offset-3.col-sm-3
              = f.submit '変更を保存する', :class => "form-control btn btn-primary"
