%p#notice= notice

%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email
%p
  %b Socialid:
  = @user.socialId
%p
  %b Admin:
  = @user.admin
%p
  %b Password:
  = @user.password
%p
  %b Access token:
  = @user.access_token
%p
  %b Access token secret:
  = @user.access_token_secret
%p
  %b Gender:
  = @user.gender
%p
  %b Height:
  = @user.height
%p
  %b Age:
  = @user.age

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
