= stylesheet_link_tag "root", :media => "all"
%body
  %nav.navbar.navbar-default{role: "navigation"}
    .container-fluid
      .navbar-header
        %a.navbar-brand{href: "/"}
          = image_tag "logo.png", :size => "50x32"
      .collapse.navbar-collapse{id: "nav_targets"}
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{href: "#{logout_path}"}
              Log out
%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email
%p
  %b Admin:
  = @user.admin
%p
  %b Password:
  = @user.password
%p
  %b Gender:
  = @user.gender
%p
  %b Height:
  = @user.height
%p
  %b Age:
  = @user.age

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
