= stylesheet_link_tag "root", :media => "all"
= stylesheet_link_tag "users", :media => "all"
%body
  %nav.navbar.navbar-default{role: "navigation"}
    .container-fluid
      .navbar-header
        %a.navbar-brand{href: "/"}
          = image_tag "logo.png", :size => "50x32"
      .collapse.navbar-collapse{id: "nav_targets"}
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{href: "/users/#{current_user.id}"}
              %i.fa.fa-user
              Profile
          %li
            %a{href: "#{logout_path}"}
              %i.fa.fa-sign-out
              Log out
  .container
    .profile-contents-box
      .panel.panel-default
        .panel-heading
        %ul.list-group
          %li.list-group-item
            .info-item
              %a{href: "/users/#{@user.id}"}
                ユーザ登録情報
          %li.list-group-item
            .edit-item
              %a{href: "/users/#{@user.id}/edit"}
                登録情報の編集
               
    .profile-box
      .panel.panel-info
        .panel-heading.profile-header
          登録情報
        .panel-body
          プロフィール
        %ul.list-group
          %li.list-group-item
            %p
              %b Name:
              = @user.name
          %li.list-group-item
            %p
              %b Email:
              = @user.email
          %li.list-group-item
            %p
              %b Gender:
              - if @user.gender == 0
                男性
              - else
                女性
          %li.list-group-item
            %p
              %b Height:
              = @user.height
          %li.list-group-item
            %p
              %b Age:
              = @user.age
